<section class="section">
  <div class="section-header d-mobile-none">
    <h1>Novo Percurso</h1>
  </div>

  <%= simple_form_for([:admin, @trip]) do |form| %>
  <% end %>
</section>

<% content_for(:page_title, "Novo Percurso") %>
